<mat-sidenav-container [hasBackdrop]="!mediaObserver.isActive('gt-sm')">
  <mat-sidenav #sidenav
               role="navigation"
               [mode]="mediaObserver.isActive('gt-sm') ? 'side' : 'over'"
               [opened]="mediaObserver.isActive('gt-sm')">
  </mat-sidenav>
  <mat-sidenav-content fxLayout="column">
    <mat-toolbar color="primary">
      <button mat-icon-button (click)="sidenav.toggle()" fxHide.gt-sm>
        <mat-icon>menu</mat-icon>
      </button>
      <router-outlet name="toolbar" class="spacer"></router-outlet>
      <button mat-icon-button matTooltip="LIGHT MODE" *ngIf="darkMode$ | async; else lightMode"
              (click)="setDarkMode(false)">
        <mat-icon>light_mode</mat-icon>
      </button>
      <ng-template #lightMode>
        <button mat-icon-button matTooltip="DARK MODE"
                (click)="setDarkMode(true)">
          <mat-icon>dark_mode</mat-icon>
        </button>
      </ng-template>
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
      </mat-menu>
    </mat-toolbar>
    <main>
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
